<table>
    <tr class="header-row">
        <th (click)="sort('name')" class="sortable">Name</th>
        <th (click)="sort('type')" class="sortable">Type</th>
        <th>Operational</th>
        <th>Orbit Type</th>
        <th>Launch Date</th>
    </tr>
    <tr *ngFor="let satellite of satellites">
        <td>{{satellite.name}}</td>
        <!-- <td [class.warning] = "backGroundColor">{{satellite.backGroundColor}}</td> -->
        <td class="warning">{{satellite.type}}</td>
        <td>{{satellite.operational}}</td>
        <td>{{satellite.orbitType}}</td>
        <td>{{satellite.launchDate}}</td>
    </tr>
</table>

<!-- TODO 2b: use *ngFor to display satellite data in the table -->

<!-- <tr *ngFor = "let data-row of data-rows">{{data-row}}</tr> 
    {{data-row.name}}, {{data-row.type}}, {data-row.operational}}, {{data-row.orbittype}}, {{data-row.launchdate}}

<td class="warning">{{satellite.type}}</td>

<li *ngFor="let element of array">{{element.name}}, {{element.age}}</li>-->
<!-- TODO 3b: add style directive to conditionally highlight satellite type -->

